
@font-face {
    font-family: Gotham;
    font-weight: normal;
    src: url(/fonts/GothamPro.woff);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500; 
    src: url(/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: normal; 
    src: url(/fonts/Roboto-Italic.ttf);
}

