@import 'variables';

body {
    font-family: 'Roboto', Arial, sans-serif;
    background: $bg;
    color: $font-color;
    font-size: 17px;
    line-height: 21px;
}

h1, h2, h3, h4 {
    font-weight: 500;
    color: $white;
}

h1 {
    font-size: 84px;
    margin: 100px 0 50px;
    text-align: center;
}

h2 {
    font-size: 48px;
    margin: 60px 0;
    text-align: center;
}

h3 {
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 27px;
}

.subheader {
    line-height: 25px;
    text-align: center;
}

button {
    font: 500 18px Roboto;
    padding: 14px 36px;
    margin: 0;
    border: none;
    background: $accent;
    color: $white;
}

