
#canvas {
    position: fixed;
    top: 0;
    left: 0;
}

/* CONTROLS */

.controls {
    position: fixed;
    top: 20px;
    left: 20px;
}

.control {
    display: block;
    border: none;
    border-radius: 4px;
    background: #fefefe;
    padding: 5px;
    margin-bottom: 8px;
    font-weight: bold;
}

.control.btn {
    font-size: 17px;
    height: 40px;
    width: 40px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}
