
.notification {
    display: block;
    position: fixed;
    width: 400px;
    text-align: center;
    top: 30px;
    left: calc(50% - 400px/2);
    padding: 10px;
    border-radius: 7px;
}

.notification.error {
    background:  rgb(255, 235, 230);
    color: rgb(255, 86, 48);
}
