
.notifications {
    position: fixed;
    z-index: 10;
    right: 10px;
    top: 10px;
}

.notifications .item {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 5px;

    background:  rgb(255, 235, 230);
    color: rgb(255, 86, 48);
}
