
.select-file {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-button {
    padding: 20px;
    background: #4089ff;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14pt;
    transition: 0.4s;
}

.select-button:hover {
    background: #286ad4;
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}